/*******************************************
EXPERIENCES
*******************************************/
.exp{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Open Sans', Tahoma, Geneva, sans-serif;
}
.exp .company-name{
  font-size: 1.6em;
  font-weight: bold;
  float: right;
}
.exp .company-website{
  font-size: 1.2em;
  font-weight: normal;
  float: right;
}
.exp .period{ 
  font-size: 1.4em;
  opacity: 0.7;
}
.exp .position {
  font-size: 1.6em;
  font-weight: bold;
  height: 30px;
  background: #F0563D;
  color: #fff;
  padding: 5px 10px 30px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.exp .description{
  font-size: 1.4em;
  line-height: 1.5em;
  font-style: italic;
  font-family: 'Open Sans', Georgia, Calibri, Arial, Helvetica, sans-serif;
}

.exp .row-title{
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 500;
  font-style: italic;
}

.exp .main-text{
  font-size: 1.2em;
  line-height: 1.3em;
}

.exp .main-text li{
  	margin-bottom: 2px;
  	color: #F0563D;
}

.exp .main-text span{
  	margin-bottom: 2px;
  	color: black;
}

.exp .row {
	margin-bottom: 7px;
}

.exp .titlerow {
	margin-bottom: 2px;
}

.exp .lang {
	margin-right: 15px;
}

.about-me {
  margin-left: 10px;
  font-size: 1.5em !important ; 
  /*color: red;*/
  /*line-height: 1.5em;*/
}

/*.item-skills.*/